gradle/
bin/*
!bin/run-in-docker.sh
.gradle
/build/
*.class
bin/main/application.yaml

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.gradle/
.springBeans

### IntelliJ IDEA ###
.idea
/out
*.iws
*.iml
*.ipr
*/target/
*/build/

### VS Code ###
.vscode




.DS_Store

applicationinsights-agent-*.jar
*.log

.env

.DS_Store
*/.DS_Store